<li>
    
    <span><%= lottery_record.uc.split('-')[0] %></span>
    <span><%= detel(lottery_record.uc.split('-')[1]) %></span>
    <span><%= lottery_record.created_at.strftime('%F %H:%M') %></span>
    <span><%= lottery_record.ti %></span>
    
</li>